.heroes-layout {
  display: flex;
  flex-direction: column; /* 上下排列 */
  align-items: center;
  min-height: 100vh;
  padding: 40px 20px;
}

.hero-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  margin-bottom: 40px;
}

.child {
  width: 80%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}
